body {
    min-height: 100vh;
    background-color: #101668;
    display: grid;
    place-items: center;
}
.titulo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}